### SLR on Corruption Perception Index

In [7]:
# import the basic library
import numpy as np
import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt

import statsmodels.api as sm #for SLR

import warnings
warnings.filterwarnings('ignore')

In [5]:
# import the dataset
df = pd.read_csv('country.csv')
df

          Country  Corruption_Index  Gini_Index
0       Hong Kong                77        53.7
1     South Korea                53        30.2
2           China                40        46.2
3           Italy                47        32.7
4        Mongolia                38        36.5
5         Austria                75        27.6
6          Norway                85        23.5
7              UK                81        31.6
8          Canada                82        33.7
9         Germany                81        30.7
10         Sweden                88        25.4
11        Denmark                90        27.5
12         France                69        30.1
13  United States                74        40.8
14        Russia                 29        40.1
15       Portugal                62        34.2
16        Romania                48        34.0
17      Argentina                36        42.7
18         Greece                44        34.2
19      Thailand                 35        39.4

In [9]:
# Let Gini_Index be X and Corruption_index be y

X = sm.add_constant(df['Gini_Index'])
y = df['Corruption_Index']

In [11]:
# Fitting the model using OLS (Ordinary Least Squared) method

model = sm.OLS(y,X).fit()

In [14]:
print(model.params)

const         106.695011
Gini_Index     -1.295193
dtype: float64

In [17]:
# The model returns: y = 106.69 + -1.29X

In [18]:
# Predict the y value
y_pred = model.predict(X)
y_pred

0     37.143138
1     67.580177
2     46.857086
3     64.342194
4     59.420460
5     70.947679
6     76.257971
7     65.766907
8     63.047001
9     66.932580
10    73.797104
11    71.077199
12    67.709696
13    53.851129
14    54.757765
15    62.399404
16    62.658443
17    51.390262
18    62.399404
19    55.664400
dtype: float64

In [19]:
# Measure the r-squared to discern how close the data are fitted to the regression line

from sklearn.metrics import r2_score
r2_score(y, y_pred)

# Here we got r-square = 0.215
# The models only explains 21.5% of the variances in Y.

0.21521228052302832